! Xft settings
! --------------------------------------------------
Xft.dpi:                      96
Xft.antialias:                true
Xft.rgba:                     rgb
Xft.hinting:                  true
Xft.hintstyle:                hintslight

! URxvt settings
! --------------------------------------------------
URxvt.depth:                  32
URxvt.geometry:               172x44
URxvt.loginShell:             true
URxvt.saveLines:              3000
URxvt.fading:                 0
URxvt.sading:                 0
URxvt.visualBell:             true
URxvt.letterSpace:            0
! URxvt.lineSpace:              -1
URxvt.borderLess:             false
URxvt.inputMethod:            fcitx
URxvt*font:                   xft:SF Mono:pixelsize=16:antialias=true,\
                              xft:ヒラギノ角ゴ ProN W3:size=12:antialias=true
URxvt.scrollStyle:            rxvt
URxvt.scrollBar:              false
URxvt.cursorBlink:            true
URxvt.cursorUnderline:        false
URxvt.pointerBlank:           true
URxvt.iso14755:               false

! Perl extentions
! --------------------------------------------------
! URxvt.perl-ext-common:        default,tabbed,clipboard,url-select,keyboard-select
URxvt.perl-ext-common:        default,tabbed,clipboard,url-select
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.url-select.launcher:    firefox
URxvt.url-select.underline:   true
URxvt.keysym.M-u:             perl:url-select:select_next
! URxvt.keysym.M-Escape:        perl:keyboard-select:active
! URxvt.keysym.M-s:             perl:keyboard-select:search
URxvt.tabbed.tabbar-fg:       234
URxvt.tabbed.tabbar-bg:       245
URxvt.tabbed.tab-fg:          245
URxvt.tabbed.tab-bg:          234

! Color scheme
! --------------------------------------------------
URxvt.background:             [85]#161821
URxvt.foreground:             #d2d4de
URxvt.cursorColor:            #d2d4de
URxvt.color0:                 #272c42
URxvt.color8:                 #6b7089
URxvt.color1:                 #e27878
URxvt.color9:                 #e98989
URxvt.color2:                 #b4be82
URxvt.color10:                #c0ca8e
URxvt.color3:                 #e2a478
URxvt.color11:                #e9b189
URxvt.color4:                 #84a0c6
URxvt.color12:                #91acd1
URxvt.color5:                 #a093c7
URxvt.color13:                #ada0d3
URxvt.color6:                 #89b8c2
URxvt.color14:                #95c4ce
URxvt.color7:                 #c6c8d1
URxvt.color15:                #d2d4de
URxvt.colorBD:                #d2d4de
URxvt.colorUL:                #84a0c6
