# blocks
snippet data
	data  {
		${1}
	}
snippet td
	transformed data  {
		${1}
	}
snippet parameters
	parameters  {
		${1}
	}
snippet tp
	transformed parameters  {
		${1}
	}
snippet model
	model  {
		${1}
	}
snippet gq
	generated quantities  {
		${1}
	}

# conditionals
snippet if
	if (${1:condition}) {
		${0}
	}
snippet el
	else {
		${0}
	}
snippet ei
	else if (${1:condition}) {
		${0}
	}

# loops
snippet for
	for (${1:item} in ${2:list}) {
		${3}
	}
